:root{
        --colour1:#FCF5EE;
        --colour2:#FFC4C4;
        --colour3:#EE6983;
        --color4:#850E35;
      }
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
       }
      .Harry {
        background-color:#FFC4C4
      }
      h2 {
        color:var(--colour3)
      }
      .container{
        padding: 40px;
        background-color: pink;
        display:flex;
        justify-content: space-around;
        align-items: center;
            }
      ul{
        display: flex;
        justify-content: space-between;
        gap: 20px;
      }
    .links a{
      color: lightcoral;
      text-decoration: none;
    }
    body{
      background-color: antiquewhite;
    }
    .hero{
      display: flex;
      background: url("./Library.jpg");
      text-align: center;
      background-size: cover;
      padding: 100px 200px;
      background-position: center;
      height: 80vh;
      filter: brightness(70%);
    }
    .hero-text{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .button{ 
      background-color: var(--colour1);
      color: var(--color4);
      text-decoration: none;
      padding: 15px 20px;
      width: 180px;
      align-self: center;
      border-radius: 20px;
      margin-top: 30px;
    }
    #Welcome{
      font-size: 50px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      color: var(--color4);
      margin-bottom: 10px;
    }
    .card_image{
        height: 200px;
    } 
    